<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Reportes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />


    <link href="~/Content/cssReportes/theme-default.css" rel="stylesheet" />



    <script>
    function crear(nombre_tabla) {

                //getting data from our table
                var data_type = 'data:application/vnd.ms-excel';
                var table_div = document.getElementById(nombre_tabla);
                var table_html = table_div.outerHTML.replace(/ /g, '%20');

                var a = document.createElement('a');
                a.href = data_type + ', ' + table_html;
                a.download = 'exported_table_' + Math.floor((Math.random() * 9999999) + 1000000) + '.xls';
                a.click();


    }
    </script>





</head>
<body>

    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="index.html">Joli Admin</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="~/Foto/user.jpg" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="~/Foto/user.jpg" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">Joseph Ballon</div>

                        </div>
                        <div class="profile-controls">

                        </div>
                    </div>
                </li>


                <li class="xn">
                    <a href="~/Reportes/Main/Alumno"><span class="fa btn"></span> <span class="xn-text">Alumnos</span></a>
                </li>


                <li class="xn">
                    <a href="~/Reportes/Main/ArchivoInvestigacion"><span class="fa btn"></span> <span class="xn-text">Archivo de Investigacion</span></a>

                </li>


                <li class="xn">
                    <a href="~/Reportes/Main/Proyecto"><span class="fa btn"></span> <span class="xn-text">Proyectos</span></a>

                </li>


                <li class="xn">
                    <a href="~/Reportes/Main/Empresa"><span class="fa btn"></span> <span class="xn-text">Empresas</span></a>

                </li>

                <li class="xn">
                    <a href="~/Reportes/Main/Evento"><span class="fa btn"></span> <span class="xn-text">Eventos</span></a>

                </li>

                <li class="xn">
                    <a href="~/Reportes/Main/Invitado"><span class="fa btn"></span> <span class="xn-text">Invitados</span></a>

                </li>

                <li class="xn">
                    <a href="~/Reportes/Main/Modulo"><span class="fa btn"></span> <span class="xn-text">Modulos</span></a>

                </li>

   

                <li class="xn">
                    <span class="fa fa-files-o"></span> <span class="xn-text"><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR><BR></span>

                </li>


            </ul>
            <!-- END X-NAVIGATION -->
        </div>
        <!-- END PAGE SIDEBAR -->
        <!-- PAGE CONTENT -->
        <div class="page-content">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- SIGN OUT -->
                <li class="xn-icon-button pull-right">
                    <a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span></a>
                </li>
                <!-- END SIGN OUT -->
                <!-- MESSAGES -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">4</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                            <div class="pull-right">
                                <span class="label label-danger">4 new</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-online"></div>
                                <img src="assets/images/users/user2.jpg" class="pull-left" alt="John Doe" />
                                <span class="contacts-title">John Doe</span>
                                <p>Praesent placerat tellus id augue condimentum</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-away"></div>
                                <img src="assets/images/users/user.jpg" class="pull-left" alt="Dmitry Ivaniuk" />
                                <span class="contacts-title">Dmitry Ivaniuk</span>
                                <p>Donec risus sapien, sagittis et magna quis</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-away"></div>
                                <img src="assets/images/users/user3.jpg" class="pull-left" alt="Nadia Ali" />
                                <span class="contacts-title">Nadia Ali</span>
                                <p>Mauris vel eros ut nunc rhoncus cursus sed</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-offline"></div>
                                <img src="assets/images/users/user6.jpg" class="pull-left" alt="Darth Vader" />
                                <span class="contacts-title">Darth Vader</span>
                                <p>I want my money back!</p>
                            </a>
                        </div>
                        <div class="panel-footer text-center">
                            <a href="pages-messages.html">Show all messages</a>
                        </div>
                    </div>
                </li>
                <!-- END MESSAGES -->
                <!-- TASKS -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-tasks"></span></a>
                    <div class="informer informer-warning">3</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
                            <div class="pull-right">
                                <span class="label label-warning">3 active</span>
                            </div>
                        </div>
                        <div class="panel-body list-group scroll" style="height: 200px;">
                            <a class="list-group-item" href="#">
                                <strong>Phasellus augue arcu, elementum</strong>
                                <div class="progress progress-small progress-striped active">
                                    <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;">50%</div>
                                </div>
                                <small class="text-muted">John Doe, 25 Sep 2014 / 50%</small>
                            </a>
                            <a class="list-group-item" href="#">
                                <strong>Aenean ac cursus</strong>
                                <div class="progress progress-small progress-striped active">
                                    <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;">80%</div>
                                </div>
                                <small class="text-muted">Dmitry Ivaniuk, 24 Sep 2014 / 80%</small>
                            </a>
                            <a class="list-group-item" href="#">
                                <strong>Lorem ipsum dolor</strong>
                                <div class="progress progress-small progress-striped active">
                                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">95%</div>
                                </div>
                                <small class="text-muted">John Doe, 23 Sep 2014 / 95%</small>
                            </a>
                            <a class="list-group-item" href="#">
                                <strong>Cras suscipit ac quam at tincidunt.</strong>
                                <div class="progress progress-small">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">100%</div>
                                </div>
                                <small class="text-muted">John Doe, 21 Sep 2014 /</small><small class="text-success"> Done</small>
                            </a>
                        </div>
                        <div class="panel-footer text-center">
                            <a href="pages-tasks.html">Show all tasks</a>
                        </div>
                    </div>
                </li>
                <!-- END TASKS -->
            </ul>

            <div class="page-content-wrap">



                <div class="container body-content">
                    @RenderBody()
                    <hr />
                    
                </div>


            </div>
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>























































    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav"></ul>
            </div>
        </div>
    </div>

























    <script src="~/Scripts/jsReportes/plugins/jquery/jquery.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/jquery/jquery-ui.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/bootstrap/bootstrap.min.js"></script>

    <script src="~/Scripts/jsReportes/plugins/icheck/icheck.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/scrolltotop/scrolltopcontrol.js"></script>
    <script src="~/Scripts/jsReportes/plugins/morris/raphael-min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/morris/morris.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/rickshaw/d3.v3.js"></script>
    <script src="~/Scripts/jsReportes/plugins/rickshaw/rickshaw.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/Scripts/jsReportes/plugins/bootstrap/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/jsReportes/plugins/owl/owl.carousel.min.js"></script>

    <script src="~/Scripts/jsReportes/plugins/moment.min.js"></script>
    <script src="~/Scripts/jsReportes/plugins/daterangepicker/daterangepicker.js"></script>


    <script src="~/Scripts/jsReportes/settings.js"></script>
    <script src="~/Scripts/jsReportes/plugins.js"></script>
    <script src="~/Scripts/jsReportes/actions.js"></script>
    <script src="~/Scripts/jsReportes/demo_dashboard.js"></script>



    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.css" />

    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.15/datatables.min.js"></script>



    <script>
        $('.importa_tabla').dataTable();

    </script>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>