@using LibraryDA
@{
    ViewBag.Title = "Archivo de Investigacion";
    List<Archivo_Investigacion> listado = (List<Archivo_Investigacion>)ViewBag.ListadoArchivoInvestigacion;
    List<Proyecto> listadoProyecto = (List<Proyecto>) ViewBag.ListadoProyecto;
}

<h2>Archivo Investigacion</h2>
<table class="importa_tabla" id="tabla_archivo">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Estado</th>
            <th>Fecha Archivo</th>
            <th>Fecha Ini</th>
            <th>Fecha fin</th>
            <th>Proyecto</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Archivo_Investigacion item in listado)
        {
            <tr>
                <td>@item.Nombre</td>
                <td>@item.Descripcion</td>
                <td>@item.Estado</td>
                <td>@item.Fecha_invest</td>
                <td>@item.Fecha_pub_ini</td>
                <td>@item.Fecha_pub_fin</td>

               @foreach (Proyecto itemCorre in listadoProyecto)
               {
                   if (@item.ID_Proyecto == @itemCorre.ID_Proyecto)
                   {
                    <td>@itemCorre.Titulo</td>
                   }
               }

            </tr>

        }

    </tbody>
</table>


<a href="" onclick="crear('tabla_archivo')"><img src="~/Foto/ico-excel.png" height="50px" width="50px" /> Exportar</a>
