@using LibraryDA
@{
    ViewBag.Title = "Evento";
    List<Evento> listado = (List<Evento>)ViewBag.ListadoEvento;
    List<Usuario> listadoUsuario = (List<Usuario>)ViewBag.ListadoUsuario;
    List<Participantes> listadoParticipante = (List<Participantes>)ViewBag.ListadoParticipante;

    int cant_participantes = 0;

}

<h2>Evento</h2>
<table table class="importa_tabla" id="tabla_evento" data-show-columns="true" data-pagination="true">
    <thead>
        <tr>
            <th>ID_Evento</th>
            <th>Titulo</th>
            <th>Descripción</th>
            <th>Fecha de publicación</th>
            <th>Fecha de Inicio</th>
            <th>Fecha fin</th>
            <th>Hora</th>
            <th>Lugar</th>
            <th>Asistentes</th>
        </tr>
    </thead>
    <tbody>

        @foreach (Evento item in listado)
        {
            <tr>
                <td>@item.ID_Evento</td>
                <th>@item.Titulo</th>
                <td>@item.Descripcion</td>
                <td>@item.Fecha_pub</td>
                <td>@item.Fecha_ini</td>
                <td>@item.Fecha_fin</td>
                <td>@item.Hora</td>
                <td>@item.Lugar</td>
           
                @foreach (Participantes itemCorre2 in listadoParticipante)
                {
                    if (@item.ID_Evento == @itemCorre2.ID_Evento)
                    {
                        cant_participantes = cant_participantes + 1;
                    }
                }
            
                <td>@cant_participantes</td>

                @{
                    cant_participantes = 0;
                 }

            </tr>
                    }


    </tbody>
</table>



<a href="" onclick="crear('tabla_evento')"><img src="~/Foto/ico-excel.png" height="50px" width="50px" /> Exportar</a>
