@using LibraryDA
@{
    ViewBag.Title = "Proyecto";
    List<Proyecto> listado = (List<Proyecto>)ViewBag.ListadoProyecto;
}

<h2>Proyectos</h2>
<table class="importa_tabla" id="tabla_proyecto" data-show-columns="true" data-pagination="true">
    <thead>
        <tr>
            <th>Id_Proyecto</th>
            <th>Titulo</th>
            <th>Fecha_Pub</th>
            <th>Tipo</th>
            <th>Estado</th>
            <th>ID_Usuario_crea</th>

        </tr>
    </thead>
    <tbody>

        @foreach (Proyecto item in listado)
        {
            <tr>
                <td>@item.ID_Proyecto</td>
                <td>@item.Titulo</td>
                <td>@item.Fecha_pub</td>
                <td>@item.Tipo</td>
                <td>@item.Estado</td>
                <td>@item.ID_Usuario_crea</td>

            </tr>
        }

    </tbody>
</table>


<a href="" onclick="crear('tabla_proyecto')"><img src="~/Foto/ico-excel.png" height="50px" width="50px" /> Exportar</a>
